*{
    margin: auto;
}

#clock {
    position: relative;
    font-size: 150px;
    width: 900px;
    text-align: center;
    top: 300px;
    background-color: grey;
    color: rgb(233, 233, 194);
    font-family: 'Quicksand', sans-serif;;
}